.partners {
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    padding-top: 65px;
    padding-bottom: 85px;

    &__title {
        margin-bottom: 23px;
        text-align: center;
    }

    .swiper-pagination {
        display: none;
    }

    &__slider {
        z-index: 6;
        max-height: 360px;
        margin-left: 60px;
        margin-right: 60px;
    }

    &__prev,
    &__next {
        transform: translateY(-50%);
    }

    .container {
        position: relative;
        max-width: 1300px;
    }

    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #575661;
        border-radius: 15px;
        margin-bottom: 20px;
        height: 145px;
        img {
            display: flex;
        }
    }

    &__circle-gradient {
        width: 623px;
        height: 623px;
        left: -320px;
        bottom: -320px;
    }

    &__bg {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 4;
    }

    &__item {
        
    }
}
