
// USER VARIABLES SECTION
$accent: #FFB525;
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family
$pfdin: 'PFDinTextCompPro-Regular', sans-serif;
$pfdin-light: 'PFDinTextCompPro-Light', sans-serif;
$pfdin-medium: 'PFDinTextCompPro-Medium', sans-serif;
$pfdin-bold: 'PFDinTextCompPro-Bold', sans-serif;


// FONTS

@font-face {
    font-family: 'PFDinTextCompPro-Light';
	src: local("PFDinTextCompPro-Light"), local("PFDinTextCompPro Light"), local("PF Din Text Comp Pro-Regular");
    src: 
        url('../fonts/PFDinTextCompPro-Light.woff2') format('woff2'),
        url('../fonts/PFDinTextCompPro-Light.woff') format('woff'),
        url('../fonts/PFDinTextCompPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PFDinTextCompPro-Regular';
	src: local("PFDinTextCompPro-Regular"), local("PFDinTextCompPro Regular"), local("PF Din Text Comp Pro-Regular");
    src: 
        url('../fonts/PFDinTextCompPro-Regular.woff2') format('woff2'),
        url('../fonts/PFDinTextCompPro-Regular.woff') format('woff'),
        url('../fonts/PFDinTextCompPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PFDinTextCompPro-Medium';
	src: local("PFDinTextCompPro-Medium"), local("PFDinTextCompPro Medium"), local("PF Din Text Comp Pro-Medium");
    src: 
        url('../fonts/PFDinTextCompPro-Medium.woff2') format('woff2'),
        url('../fonts/PFDinTextCompPro-Medium.woff') format('woff'),
        url('../fonts/PFDinTextCompPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PFDinTextCompPro-Bold';
	src: local("PFDinTextCompPro-Bold"), local("PFDinTextCompPro Bold"), local("PF Din Text Comp Pro-Bold");
    src: 
        url('../fonts/PFDinTextCompPro-Bold.woff2') format('woff2'),
        url('../fonts/PFDinTextCompPro-Bold.woff') format('woff'),
        url('../fonts/PFDinTextCompPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


// GENERAL DOCUMENT STYLES

input, textarea {
	outline: transparent;
}

html {
	box-sizing: border-box;
}

html, body { 
	overflow-x: hidden;
	font-size: 20px;
	line-height: 24px;
	font-family: $pfdin;
	font-weight: 400;
    scroll-behavior: smooth;
}

body {
	color: #fff;
    background-color: #151424;
	min-width: 320px;
}

*, *::before, *::after {
	box-sizing: inherit;
}

ul,  li {
	padding: 0;
	margin: 0;
}

ul li {
	list-style: none;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

// Input number fix

input[type='number'] {
	-moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none
}

button {
	outline: transparent;
	cursor: pointer;
}

textarea {
	resize: none;
}

.container {
	max-width: 1170px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

h1, h2 {
    font-size: 60px;
	line-height: 1.1;
    font-family: $pfdin-bold;
    font-weight: 700;
}

img {
	max-width: 100%;
	object-fit: cover;
}

a {
	text-decoration: none;
	color: inherit;
}


.overflow-hidden {
	overflow: hidden;
//     touch-action: none;
// -ms-touch-action: none;
// -webkit-overflow-scrolling: touch;
	body {
		overflow: hidden
	} 
}

.circle-gradient {
    position: absolute;
    width: 532px;
    height: 532px;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(#FFB525, .2) 0%, rgba(255, 181, 37, 0) 100%);
}


.swiper-button-next, .swiper-button-prev {
    color: #fff;
    outline: transparent;
    transition: .2s ease;
    opacity: .5;

    
    &:focus, &:active {
        color: $accent;
        opacity: 1;
    }
}


.swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    background-color: #fff;
    opacity: .3;
}

.swiper-pagination-bullet-active {
    background-color: $accent;
    opacity: 1;
}

.coin {
    position: absolute;
    z-index: 7;
}

.swiper-button-prev:after, .swiper-button-next:after {
    font-size: 30px;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}