@media (min-width: 1025px) {
   // Hover section

    .footer__socials li:hover {
        background-color: #fff;
        path {
            fill: $accent;
        }
    }
    .footer__list li:hover {
        opacity: 1;
    }

    .providers {
        &__img:hover .providers__name {
            background-color: $accent;
            color: #fff;
        }
    }

    .swiper-button-next, .swiper-button-prev {
        &:hover {
            color: $accent;
            opacity: 1;
        }
    }

    .navigation a:hover {
        opacity: 1;
        &::after {
            width: 100%;
        }
    }

    .header__login-links a:hover {
        text-shadow: 0px 0px 2px $accent;
        color: $accent;
        

        &::after {
            width: 100%;
        }
    }

   // Hover section
    
}

@media (max-width: 1750px) {
    .info__coin--3 {
        left: 230px;
    }
    .info__coin--2 {
        left: 195px;
        top: 76px;
    }
    .info__coin--1 {
        left: 121px;
    }
}

@media (max-width: 1500px) {
    .hero {
        &__img {
            left: 0;
        }
    }
    .hero__item--right .hero__img {
        right: 0;
    }
    .hero__item.hero__item--3 .hero__img {
        right: 55px;
    }
    .games {
        &__coin--1 {
            left: 100px;
        }
        &__coin--2 {
            left: -15px;
        }
        &__coin--3 {
            left: -55px;
        }
    }
}

@media (max-width: 1400px) {
    .footer {
        &__arrow {
            right: 15px;
        }
    }
    .providers__coins {
        display: none;
    }
    .hero .swiper-button-next {
        right: 0;
    }
    .hero .swiper-button-prev {
        left: 0;
    }
    .partners {
        &__bg {
            img {
                width: 200px;
            }
        }
    }
    .circle-gradient {
        width: 200px;
        height: 200px;
    }
    .benefits {
        &__circle {
            height: 337px;
            width: 337px;
        }
    }
    .why {
        &__coins {
            right: -70px;
            bottom: -90px;
        }
        &__coin--1 {
            width: 27px;
            top: 49px;
            left: 88px;
        }
        &__coin--2 {
            width: 38px;
            top: 93px;
            right: 71px;
            left: auto;
        }
        &__coin--3 {
            width: 74px;
            left: 14px;
            top: auto;
            bottom: 0;
        }
    }
    .games {
        &__coin--1 {
            width: 27px;
            filter: blur(3px);
            left: 64px;
            bottom: -100px;
            top: auto;
        }
        &__coin--2 {
            width: 38px;
            left: 0;
            bottom: -107px;
            top: auto;
            transform: rotate(200deg);
        }
        &__coin--3 {
            width: 74px;
            filter: blur(3px);
            left: -25px;
            bottom: -200px;
            top: auto;
        }
    }
    .hero {
        &__img {
            // opacity: 0.5;
            filter: brightness(0.4);
        }
        &__item.hero__item--3 .hero__img {
            right: 0;
        }
        &__title {
            font-size: 100px;
            line-height: 122px;
        }
        &__subtitle {
            font-size: 50px;
            line-height: 66px;
            margin-bottom: 5px;
        }
        &__text {
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 25px;
        }
    }
    .header {
        padding-left: 0;
        padding-right: 15px;
        &__bonus {
            margin-left: 10px;
        }
        &__languages {
            margin-left: 10px;
        }
    }
    .navigation li {
        font-size: 20px;
        line-height: 24px;

        & + li {
            margin-left: 15px;
            padding-left: 23px;
        }
    }
    .info {
        &__coins {
            width: 250px;
            height: 250px;
            right: 0;
            bottom: -80px;
        }
        
    }
}


@media (max-width: 1280px) {
    
}

@media (max-width: 1024px) {
    
    .info {
        &__inner {
            flex-direction: column-reverse;
        }
        &__content {
            max-width: 100%;
            margin-bottom: 10px;
        }
        &__img {
            margin: 0 auto;
        }
    }
    .important {
        &__line {
            max-width: 100px;
        }
        &__title {
            font-size: 35px;
            line-height: 1;
            flex-basis: 45%;
        }
        &__text {
            font-size: 20px;
            line-height: 24px;
            flex-basis: 40%;
        }
    }
    .benefits {
        padding-top: 35px;
        &__inner {
            flex-direction: column;
        }
        &__img {
            margin-left: auto;
            margin-right: auto;
        }
        &__content {
            max-width: 100%;
        }
    }
    .partners {
        padding-top: 40px;
        padding-bottom: 25px;
        &__bg {
            display: none;
        }
    }
    .coin--1 {
        width: 27px;
    }
    .coin--2 {
        width: 38px;
    }
    .coin--3 {
        width: 73px;
    }
    .hero__coin--1 {
        top: auto;
        bottom: 245px;
        right: 17px;
        transform: rotate(280deg);
        filter: blur(3px);
    }
    .hero__coin--2 {
        top: auto;
        bottom: 206px;
        right: 0;
        transform: rotate(109deg);
    }
    .hero__coin--3 {
        top: auto;
        bottom: 153px;
        transform: rotate(283deg);
        right: 41px;
        filter: blur(3px);
    }
    h1 {
        font-size: 35px;
        line-height: 43px;
    } 
    .hero__logo::after {
        width: 170px;
        right: -170px;
    }
    
    .header {
        padding: 8px 0;

        &__inner {
            position: relative;
            min-height: auto;
        }
        &__menu-btn {
            display: flex;
        }
        &__navigation {
            display: none;
            position: absolute;
            width: 100%;
            height: 100vh;
            top: 75px;
            left: 0;
            padding: 15px;
            padding-bottom: 100px;
            background: rgba(0, 0, 0, 0.7);
            backdrop-filter: blur(10px);
            overflow: auto;
            z-index: 4;
            border-top: 1px solid rgba(#FFFFFF, .3);

            ul {
                flex-direction: column;
                align-items: flex-start;
            }

            li {
                font-size: 30px;
                line-height: 36px;
                margin-bottom: 18px;
                width: 100%;

                a {
                    display: block;
                    width: 100%;
                    opacity: 1;
                }

                &::before {
                    display: none;
                }
            }
        }
        &__right {
            margin-left: auto;
            margin-right: 30px;
        }
        &__bonus::after {
            transform: rotate(180deg);
            bottom: -12px;
            top: auto;
            height: 130px;
            clip-path: polygon(0 0,100% 0,100% 100%,50% 85%,0 100%);
        }
        &__login, &__bonus {
            display: none;
        }
        &__login-img {
            margin-right: 15px;
        }
        &__login-links {
            display: flex;

            a {
                position: relative;
                font-size: 20px;
                line-height: 25px;
                font-weight: 700;
                font-family: $pfdin-bold;
                margin-bottom: 0;
                margin-top: 5px;
                &:first-child {
                    padding-right: 13px;
                    margin-right: 11px;
                    &::before {
                        position: absolute;
                        content: "";
                        height: 100%;
                        width: 1px;
                        right: 0;
                        top: 0;
                        background-color: #fff;
                    }
                }
            
            }
        }
        &__mob-foot {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 100px;
            background: #4573DF;
            margin-left: -15px;
            margin-right: -15px;
            height: 85px;
            padding-left: 20px;
            padding-right: 15px;

            .header__login {
                display: flex;
            }
            .header__bonus {
                display: block;
            }
        }
    }
    .navigation {
        li + li {
            padding-left: 0;
            margin-left: 0;
        }
    }
    .info {
        &__coins {
            right: 0;
            left: auto;
            z-index: 8;
            bottom: 0;
            top: auto;
        }
        &__coin--1 {
            left: -24px;
            top: 36px;
            filter: blur(3px);
        }
        &__coin--2 {
            left: 50px;
            top: 0px;
        }
        &__coin--3 {
            top: -154px;
            left: 43px;
            width: 57px;
            filter: blur(3px);
        }
    }
}

@media (max-width: 900px) {
    .info {
        &__coins {
            right: -102px;
        }
    }
}

@media (max-width: 768px) {
    .footer {
        padding: 35px 0;

        &__col {
            margin-left: 30px;
        }
        &__arrow {
            height: 80px;
        }
        &__col-nav {
            display: none;
        }
    }
    .info {
        &__text {
            font-size: 18px;
            line-height: 24px;
        }
        &__img {
            img {
                width: 90%;
            }
        }
    }
    .providers {
        padding-top: 35px;
    }
    .info {
        padding-top: 30px;
    }
    .important {
        padding-top: 35px;
        padding-bottom: 32px;
        &__inner {
            flex-direction: column;
            align-items: flex-start;
        }
        &__icon {
            margin-right: 20px;
            &::before {
                left: -5px;
                top: -5px;
            }
        }
        &__line {
            display: none;
        }
        &__title {
            flex-basis: 100%;
            margin-bottom: 15px;
            
        }
        &__text {
            flex-basis: 100%;
        }
    }
    .benefits {
        &__img {
            width: 260px;
            &::after {
                background-position: right top 20px;
                background-size: cover;
                left: 0;
            }
            & > img {
                width: 222px;
                margin-left: -50px;
            }
        }
        &__item {
            margin-bottom: 20px;
            font-size: 18px;
            line-height: 21px;
        }
        &__list {
            padding-bottom: 35px;
        }
        &__title {
            margin-bottom: 20px;
            padding-bottom: 14px;
            &::after {
                width: 100%;
            }
        }
        &__coin--1 {
            bottom: 74px;
            right: 352px;
            filter: blur(3px);
        }
        &__coin--2 {
            right: 277px;
            bottom: 101px;
        }
        &__coin--3 {
            right: 243px;
            bottom: 160px;
            filter: blur(3px);
        }
    }
    .hero__item--right {
        .hero__content {
            margin-left: 0;
        }
    }
    .partners {
        &__slider {
            height: auto;
            max-height: 170px;
            padding-bottom: 40px;
            margin-left: 0;
            margin-right: 0;
        }
        &__img {
            height: 120px;

            &:last-child {
                display: none;
            }
        }
        .swiper-pagination {
            display: block;
        }
        .swiper-button-next, .swiper-button-prev {
            display: none;
        }
    }
    .why {
        padding-top: 30px;
        &__content-text {
            font-size: 18px;
            line-height: 24px;
            padding-bottom: 15px;
        }
        &__img {
            display: none;
        }
        &__item {
            flex: 1 1 calc(50% - 40px);
        }
    }
    .games {
        margin-top: -132px;
        &__slider {
            padding-bottom: 40px;
        }
        &__coin--1 {
            left: 59px;
            bottom: -112px;
        }
        &__coin--2 {
            left: -5px;
            bottom: -118px;
        }
        &__coin--3 {
            left: -36px;
            bottom: -240px;
        }
        &__title {
            font-size: 20px;
            line-height: 1;

            img {
                margin-right: 15px;
            }
        }
        .swiper-pagination {
            display: block;
            bottom: 5px;
        }
    }
    .hero {
        .swiper-button-next,
        .swiper-button-prev {
            display: none;
        }
        .swiper-pagination {
            display: block;
        }
        &__item {
            padding: 140px 0;
        }
        &__img {
            bottom: auto;
            top: 207px;
        }
        &__title {
            font-size: 56px;
            line-height: 62px;
        }
        &__subtitle {
            font-size: 36px;
            line-height: 42px;
        }
        &__text {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 15px;
        }
    }
    .hero .swiper-button-prev {
        left: 10px;
    }
    .hero .swiper-button-next {
        right: 10px;
    }
}

@media (max-width: 600px) {
    
    .info {
        &__coin {
            z-index: 8;
        }
        &__coins {
            position: static;
            width: 0;
            height: 0;
        }
        &__coin--1 {
            top: auto;
            left: auto;
            right: 50px;
            bottom: 36px;
        }
        &__coin--2 {
            top: auto;
            left: auto;
            right: 11px;
            bottom: 68px;
        }
        &__coin--3 {
            top: auto;
            left: auto;
            right: -17px;
            bottom: 110px;
        }
        &__img {
            img {
                width: 80%;
            }
        }
    }
    .providers {
        &__prev,
        &__next {
            display: none;
        }

        &__slider {
            padding-bottom: 30px;
            margin-left: 0;
            margin-right: 0;
        }

        .swiper-pagination {
            display: block;
            bottom: 0;
        }
    }
}

@media (max-width: 480px) {
    .info {
        &__img {
            padding-top: 55px;
            img {
                width: 100%;
            }

            &::after {
                background-position: top 10px right -20px;
                background-image: url("data:image/svg+xml,%3Csvg width='225' height='307' viewBox='0 0 225 307' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.1' filter='url(%23filter0_d)'%3E%3Cpath d='M120.292 78.6108C121.224 78.9663 121.848 79.8482 121.876 80.8462L123.042 126.602C123.064 127.603 122.476 128.523 121.552 128.914C120.627 129.311 119.554 129.102 118.848 128.387L113.688 123.168L108.607 136.63C105.679 144.394 105.947 152.83 109.367 160.397C111.422 164.943 114.556 168.733 118.338 171.754L141.165 111.278L133.856 111.789C132.849 111.858 131.911 111.31 131.473 110.401C131.044 109.496 131.207 108.42 131.889 107.681L162.991 74.0965C163.671 73.3643 164.72 73.1144 165.653 73.4728C166.587 73.8204 167.212 74.7018 167.24 75.6999L168.399 121.458C168.424 122.465 167.833 123.38 166.913 123.778C165.984 124.168 164.919 123.96 164.207 123.244L159.05 118.027L136.235 178.484C149.303 179.079 161.873 171.456 166.742 158.568L171.821 145.105L164.514 145.617C163.505 145.683 162.568 145.135 162.13 144.226C161.7 143.321 161.863 142.246 162.546 141.507L193.644 107.928C194.325 107.198 195.372 106.949 196.31 107.298C197.242 107.655 197.865 108.533 197.893 109.532L199.059 155.29C199.081 156.291 198.494 157.211 197.57 157.601C196.644 157.999 195.571 157.786 194.867 157.075L189.707 151.856L184.626 165.317C176.013 188.142 152.439 201.017 129.232 197.044L91.9165 295.928C90.053 300.869 84.5402 303.361 79.6009 301.495C77.1304 300.563 75.272 298.719 74.2648 296.491C73.2572 294.262 73.1001 291.649 74.0332 289.178L111.348 190.296C102.669 184.949 96.0117 177.203 91.9694 168.261C86.6757 156.551 85.8397 142.825 90.7242 129.881L95.805 116.419L88.4958 116.928C87.4872 116.995 86.5504 116.45 86.1133 115.541C85.6826 114.636 85.8455 113.558 86.5283 112.818L117.628 79.2428C118.307 78.5106 119.357 78.2644 120.292 78.6108Z' fill='white'/%3E%3C/g%3E%3Cpath d='M129.635 20.9626C129.635 22.1723 129.364 22.7771 128.101 22.7771H127.469V9.65271H128.101C129.364 9.65271 129.635 10.2878 129.635 11.4671V20.9626ZM123.409 5.69121V26.7386H128.642C130.778 26.7386 132.552 26.0128 133.304 23.6238C133.725 22.3235 133.725 19.6321 133.725 16.1846C133.725 12.707 133.725 9.83415 133.364 8.53381C132.793 6.47746 131.379 5.69121 128.913 5.69121H123.409Z' fill='white'/%3E%3Cpath d='M148.352 26.7386V22.7771H142.847V18.0293H147.66V14.0678H142.847V9.62247H148.352V5.69121H138.757V26.7386H148.352Z' fill='white'/%3E%3Cpath d='M161.151 22.6259L161.964 20.1764L162.956 16.9104H163.076V26.7386H167.167V5.69121H163.347L161.302 11.2252L159.858 15.4891H159.678L158.264 11.3159L156.189 5.69121H152.369V26.7386H156.429V16.8197H156.58L157.542 19.9345L158.414 22.6259H161.151Z' fill='white'/%3E%3Cpath d='M178.357 21.7791C178.357 22.7468 177.815 23.0795 177.154 23.0795C176.492 23.0795 175.921 22.7468 175.921 21.7791V10.6506C175.921 9.74343 176.492 9.3503 177.154 9.3503C177.815 9.3503 178.357 9.74343 178.357 10.6506V21.7791ZM182.508 10.8018C182.508 7.20323 180.793 5.50977 177.154 5.50977C173.845 5.50977 171.83 7.20323 171.83 10.8018V21.5977C171.83 25.1963 173.635 26.92 177.154 26.92C180.643 26.92 182.508 25.1963 182.508 21.5977V10.8018Z' fill='white'/%3E%3Cpath d='M132.492 44.2982C132.492 45.1852 132.412 45.9916 132.251 46.7174C132.091 47.423 131.82 48.0278 131.439 48.5318C131.058 49.0359 130.557 49.429 129.935 49.7112C129.314 49.9935 128.552 50.1346 127.65 50.1346C126.807 50.1346 126.085 50.0136 125.484 49.7717C124.882 49.5298 124.381 49.2072 123.98 48.804C123.599 48.3806 123.308 47.8867 123.108 47.3222C122.927 46.7577 122.837 46.1429 122.837 45.4776L124.702 45.0844C124.702 45.5078 124.752 45.9211 124.852 46.3243C124.953 46.7073 125.113 47.0501 125.334 47.3525C125.574 47.6549 125.875 47.8968 126.236 48.0782C126.617 48.2597 127.088 48.3504 127.65 48.3504C128.331 48.3504 128.863 48.2395 129.244 48.0178C129.645 47.796 129.945 47.5037 130.146 47.1408C130.347 46.7779 130.477 46.3545 130.537 45.8707C130.597 45.3868 130.627 44.8728 130.627 44.3284C130.627 43.6631 130.597 43.1188 130.537 42.6954C130.477 42.2519 130.336 41.879 130.116 41.5765C129.895 41.254 129.575 40.9617 129.153 40.6996C128.752 40.4375 128.201 40.1552 127.499 39.8528C126.497 39.4093 125.694 38.9759 125.093 38.5525C124.511 38.1291 124.06 37.6957 123.739 37.2522C123.439 36.7885 123.238 36.3046 123.138 35.8006C123.038 35.2765 122.987 34.712 122.987 34.1072C122.987 33.3209 123.078 32.5951 123.258 31.9298C123.459 31.2646 123.759 30.7001 124.161 30.2364C124.562 29.7525 125.063 29.3796 125.664 29.1175C126.266 28.8352 126.978 28.6941 127.8 28.6941C128.702 28.6941 129.454 28.8352 130.056 29.1175C130.657 29.3796 131.139 29.7324 131.499 30.1759C131.86 30.6194 132.111 31.1133 132.251 31.6577C132.412 32.1818 132.492 32.6959 132.492 33.1999L130.627 33.6535C130.627 32.706 130.407 31.9399 129.966 31.3553C129.544 30.7505 128.792 30.4481 127.71 30.4481C127.108 30.4481 126.617 30.569 126.236 30.8109C125.875 31.0327 125.584 31.325 125.364 31.6879C125.163 32.0306 125.023 32.4137 124.943 32.8371C124.882 33.2604 124.852 33.6737 124.852 34.0769C124.852 34.5406 124.892 34.9539 124.973 35.3168C125.053 35.6797 125.213 36.0224 125.454 36.3449C125.715 36.6675 126.085 36.98 126.567 37.2824C127.048 37.5848 127.7 37.9074 128.522 38.2501C129.424 38.613 130.136 38.996 130.657 39.3992C131.179 39.7823 131.57 40.2157 131.83 40.6996C132.111 41.1633 132.292 41.6874 132.372 42.2721C132.452 42.8567 132.492 43.5321 132.492 44.2982Z' fill='white'/%3E%3Cpath d='M136.996 49.9229V28.8756H138.831V48.2294H145.328V49.9229H136.996Z' fill='white'/%3E%3Cpath d='M158.409 44.7216C158.409 46.4957 158.008 47.8464 157.206 48.7738C156.424 49.681 155.231 50.1346 153.626 50.1346C152.022 50.1346 150.829 49.7011 150.047 48.8343C149.285 47.9674 148.904 46.7577 148.904 45.2054V34.1374C148.904 33.3915 148.984 32.6859 149.145 32.0206C149.305 31.3553 149.566 30.7807 149.927 30.2969C150.308 29.7928 150.799 29.3997 151.401 29.1175C152.022 28.8352 152.774 28.6941 153.656 28.6941C154.559 28.6941 155.311 28.8252 155.912 29.0872C156.534 29.3292 157.025 29.692 157.386 30.1759C157.747 30.6396 158.008 31.2041 158.168 31.8694C158.329 32.5145 158.409 33.2403 158.409 34.0467V44.7216ZM156.544 33.7745C156.544 33.331 156.494 32.9076 156.394 32.5044C156.293 32.1012 156.133 31.7484 155.912 31.446C155.692 31.1234 155.391 30.8714 155.01 30.69C154.649 30.4884 154.198 30.3876 153.656 30.3876C153.075 30.3876 152.594 30.5186 152.213 30.7807C151.832 31.0226 151.531 31.3351 151.31 31.7182C151.09 32.1012 150.929 32.5246 150.829 32.9883C150.749 33.4318 150.709 33.8551 150.709 34.2584V45.2356C150.709 45.6388 150.759 46.032 150.859 46.415C150.98 46.7981 151.15 47.1408 151.371 47.4432C151.611 47.7456 151.912 47.9875 152.273 48.169C152.654 48.3504 153.105 48.4411 153.626 48.4411C154.689 48.4411 155.441 48.0984 155.882 47.4129C156.323 46.7275 156.544 45.9009 156.544 44.9332V33.7745Z' fill='white'/%3E%3Cpath d='M167.498 30.569V49.9229H165.603V30.569H161.843V28.8756H171.257V30.569H167.498Z' fill='white'/%3E%3Cpath d='M183.99 44.2982C183.99 45.1852 183.909 45.9916 183.749 46.7174C183.589 47.423 183.318 48.0278 182.937 48.5318C182.556 49.0359 182.055 49.429 181.433 49.7112C180.811 49.9935 180.049 50.1346 179.147 50.1346C178.305 50.1346 177.583 50.0136 176.982 49.7717C176.38 49.5298 175.879 49.2072 175.478 48.804C175.097 48.3806 174.806 47.8867 174.605 47.3222C174.425 46.7577 174.335 46.1429 174.335 45.4776L176.199 45.0844C176.199 45.5078 176.25 45.9211 176.35 46.3243C176.45 46.7073 176.611 47.0501 176.831 47.3525C177.072 47.6549 177.373 47.8968 177.733 48.0782C178.114 48.2597 178.586 48.3504 179.147 48.3504C179.829 48.3504 180.36 48.2395 180.741 48.0178C181.142 47.796 181.443 47.5037 181.644 47.1408C181.844 46.7779 181.974 46.3545 182.035 45.8707C182.095 45.3868 182.125 44.8728 182.125 44.3284C182.125 43.6631 182.095 43.1188 182.035 42.6954C181.974 42.2519 181.834 41.879 181.613 41.5765C181.393 41.254 181.072 40.9617 180.651 40.6996C180.25 40.4375 179.699 40.1552 178.997 39.8528C177.994 39.4093 177.192 38.9759 176.591 38.5525C176.009 38.1291 175.558 37.6957 175.237 37.2522C174.936 36.7885 174.736 36.3046 174.635 35.8006C174.535 35.2765 174.485 34.712 174.485 34.1072C174.485 33.3209 174.575 32.5951 174.756 31.9298C174.956 31.2646 175.257 30.7001 175.658 30.2364C176.059 29.7525 176.56 29.3796 177.162 29.1175C177.764 28.8352 178.475 28.6941 179.297 28.6941C180.2 28.6941 180.952 28.8352 181.553 29.1175C182.155 29.3796 182.636 29.7324 182.997 30.1759C183.358 30.6194 183.609 31.1133 183.749 31.6577C183.909 32.1818 183.99 32.6959 183.99 33.1999L182.125 33.6535C182.125 32.706 181.904 31.9399 181.463 31.3553C181.042 30.7505 180.29 30.4481 179.207 30.4481C178.606 30.4481 178.114 30.569 177.733 30.8109C177.373 31.0327 177.082 31.325 176.861 31.6879C176.661 32.0306 176.52 32.4137 176.44 32.8371C176.38 33.2604 176.35 33.6737 176.35 34.0769C176.35 34.5406 176.39 34.9539 176.47 35.3168C176.55 35.6797 176.711 36.0224 176.951 36.3449C177.212 36.6675 177.583 36.98 178.064 37.2824C178.546 37.5848 179.197 37.9074 180.019 38.2501C180.922 38.613 181.634 38.996 182.155 39.3992C182.676 39.7823 183.067 40.2157 183.328 40.6996C183.609 41.1633 183.789 41.6874 183.869 42.2721C183.95 42.8567 183.99 43.5321 183.99 44.2982Z' fill='white'/%3E%3Cg filter='url(%23filter1_d)'%3E%3Cpath d='M94.865 8.31668C95.0651 8.31828 95.2441 8.44044 95.3193 8.62608L98.7414 17.1473C98.8156 17.3338 98.7694 17.548 98.6231 17.6862C98.4769 17.8256 98.2606 17.8614 98.078 17.7765L96.7424 17.1563L96.7294 20.0431C96.7224 21.7079 97.3633 23.2752 98.536 24.4583C99.2407 25.1693 100.095 25.6624 101.018 25.9657L101.076 12.9975L99.7376 13.6051C99.5531 13.6886 99.3384 13.6513 99.1924 13.511C99.0485 13.3708 99.0037 13.1572 99.0803 12.9704L102.577 4.47897C102.653 4.29372 102.833 4.17326 103.034 4.17531C103.234 4.17531 103.413 4.29725 103.488 4.483L106.909 13.005C106.984 13.1926 106.937 13.4059 106.792 13.5451C106.645 13.6835 106.43 13.7189 106.246 13.6343L104.911 13.0145L104.854 25.9781C107.352 25.1754 109.182 22.8621 109.195 20.0982L109.208 17.2115L107.87 17.8193C107.685 17.9023 107.47 17.8648 107.324 17.7244C107.18 17.5845 107.135 17.371 107.212 17.1842L110.708 8.69405C110.785 8.50913 110.965 8.38895 111.166 8.3889C111.366 8.39072 111.544 8.51227 111.62 8.69808L115.042 17.2196C115.116 17.4062 115.07 17.6205 114.924 17.7584C114.777 17.898 114.561 17.9331 114.379 17.8487L113.043 17.2286L113.03 20.1152C113.009 25.0095 109.478 29.0805 104.836 29.9581L104.743 51.1617C104.738 52.221 103.876 53.0755 102.817 53.0705C102.287 53.0683 101.808 52.8515 101.463 52.5031C101.118 52.1546 100.905 51.6743 100.908 51.1445L101.001 29.9411C98.9954 29.5435 97.2015 28.5531 95.8156 27.1548C94.0005 25.3237 92.8825 22.8017 92.8948 20.026L92.9076 17.1392L91.5691 17.7467C91.3841 17.8298 91.1698 17.793 91.024 17.6527C90.8797 17.5127 90.8349 17.2986 90.9115 17.1117L94.4082 8.62205C94.4848 8.4368 94.6648 8.31706 94.865 8.31668Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='69.414' y='69.311' width='133.646' height='236.803' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.270588 0 0 0 0 0.45098 0 0 0 0 0.87451 0 0 0 1 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3Cfilter id='filter1_d' x='86.8745' y='0.175293' width='32.2023' height='56.8952' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.270588 0 0 0 0 0.45098 0 0 0 0 0.87451 0 0 0 1 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
            }
        }
    }
    .why {
        &__coin--1 {
            filter: blur(3px);
        }
        &__coin--2 {
            transform: rotate(134deg);
            right: 85px;
        }
        &__coin--3 {
            transform: rotate(143deg);
            filter: blur(3px);
            left: 10px;
            top: auto;
            bottom: 40px;
        }
        &__item {
            flex: 1 1 100%;
        }
    }
    .hero__item--right .hero__img {
        left: 0;
        right: auto;
    }
    .hero {
        &__img {
            width: 500px;
            left: -33px;
        }
    }
}

@media (max-width: 400px) {
    .benefits {
        &__img {
            margin-left: 40px;
        }
    }
}