@media (min-width: 1025px) {
   // Hover section

    .swiper-button-next, .swiper-button-prev {
        &:hover {
            color: $accent;
            opacity: 1;
        }
    }

    .navigation a:hover {
        opacity: 1;
        &::after {
            width: 100%;
        }
    }

    .header__login-links a:hover {
        text-shadow: 0px 0px 2px $accent;
        color: $accent;
        

        &::after {
            width: 100%;
        }
    }

   // Hover section
    
}

@media (max-width: 1500px) {
    .hero {
        &__img {
            left: 0;
        }
    }
    .hero__item--right .hero__img {
        right: 0;
    }
    .hero__item.hero__item--3 .hero__img {
        right: 55px;
    }
    .games {
        &__coin--1 {
            left: 100px;
        }
        &__coin--2 {
            left: -15px;
        }
        &__coin--3 {
            left: -55px;
        }
    }
}

@media (max-width: 1400px) {
    .partners {
        &__bg {
            img {
                width: 200px;
            }
        }
    }
    .circle-gradient {
        width: 200px;
        height: 200px;
    }
    .why {
        &__coins {
            right: -70px;
            bottom: -90px;
        }
        &__coin--1 {
            width: 27px;
            top: 49px;
            left: 88px;
        }
        &__coin--2 {
            width: 38px;
            top: 93px;
            right: 71px;
            left: auto;
        }
        &__coin--3 {
            width: 74px;
            left: 14px;
            top: auto;
            bottom: 0;
        }
    }
    .games {
        &__coin--1 {
            width: 27px;
            filter: blur(3px);
            left: 64px;
            bottom: -100px;
            top: auto;
        }
        &__coin--2 {
            width: 38px;
            left: 0;
            bottom: -107px;
            top: auto;
            transform: rotate(200deg);
        }
        &__coin--3 {
            width: 74px;
            filter: blur(3px);
            left: -25px;
            bottom: -200px;
            top: auto;
        }
    }
    .hero {
        &__img {
            // opacity: 0.5;
            filter: brightness(0.4);
        }
        &__item.hero__item--3 .hero__img {
            right: 0;
        }
        &__title {
            font-size: 100px;
            line-height: 122px;
        }
        &__subtitle {
            font-size: 50px;
            line-height: 66px;
            margin-bottom: 5px;
        }
        &__text {
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 25px;
        }
    }
    .header {
        padding-left: 0;
        padding-right: 15px;
        &__bonus {
            margin-left: 10px;
        }
        &__languages {
            margin-left: 10px;
        }
    }
    .navigation li {
        font-size: 20px;
        line-height: 24px;

        & + li {
            margin-left: 15px;
            padding-left: 23px;
        }
    }
}


@media (max-width: 1280px) {
    
}

@media (max-width: 1024px) {
    .partners {
        padding-top: 40px;
        padding-bottom: 25px;
        &__bg {
            display: none;
        }
    }
    .coin--1 {
        width: 27px;
    }
    .coin--2 {
        width: 38px;
    }
    .coin--3 {
        width: 73px;
    }
    .hero__coin--1 {
        top: auto;
        bottom: 245px;
        right: 17px;
        transform: rotate(280deg);
        filter: blur(3px);
    }
    .hero__coin--2 {
        top: auto;
        bottom: 206px;
        right: 0;
        transform: rotate(109deg);
    }
    .hero__coin--3 {
        top: auto;
        bottom: 153px;
        transform: rotate(283deg);
        right: 41px;
        filter: blur(3px);
    }
    h1 {
        font-size: 35px;
        line-height: 43px;
    } 
    .hero__logo::after {
        width: 170px;
        right: -170px;
    }
    
    .header {
        padding: 8px 0;

        &__inner {
            position: relative;
            min-height: auto;
        }
        &__menu-btn {
            display: flex;
        }
        &__navigation {
            display: none;
            position: absolute;
            width: 100%;
            height: 100vh;
            top: 75px;
            left: 0;
            padding: 15px;
            padding-bottom: 100px;
            background: rgba(0, 0, 0, 0.7);
            backdrop-filter: blur(10px);
            overflow: auto;
            z-index: 4;
            border-top: 1px solid rgba(#FFFFFF, .3);

            ul {
                flex-direction: column;
                align-items: flex-start;
            }

            li {
                font-size: 30px;
                line-height: 36px;
                margin-bottom: 18px;
                width: 100%;

                a {
                    display: block;
                    width: 100%;
                    opacity: 1;
                }

                &::before {
                    display: none;
                }
            }
        }
        &__right {
            margin-left: auto;
            margin-right: 30px;
        }
        &__bonus::after {
            transform: rotate(180deg);
            bottom: -12px;
            top: auto;
            height: 130px;
            clip-path: polygon(0 0,100% 0,100% 100%,50% 85%,0 100%);
        }
        &__login, &__bonus {
            display: none;
        }
        &__login-img {
            margin-right: 15px;
        }
        &__login-links {
            display: flex;

            a {
                position: relative;
                font-size: 20px;
                line-height: 25px;
                font-weight: 700;
                font-family: $pfdin-bold;
                margin-bottom: 0;
                margin-top: 5px;
                &:first-child {
                    padding-right: 13px;
                    margin-right: 11px;
                    &::before {
                        position: absolute;
                        content: "";
                        height: 100%;
                        width: 1px;
                        right: 0;
                        top: 0;
                        background-color: #fff;
                    }
                }
            
            }
        }
        &__mob-foot {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 100px;
            background: #4573DF;
            margin-left: -15px;
            margin-right: -15px;
            height: 85px;
            padding-left: 20px;
            padding-right: 15px;

            .header__login {
                display: flex;
            }
            .header__bonus {
                display: block;
            }
        }
    }
    .navigation {
        li + li {
            padding-left: 0;
            margin-left: 0;
        }
    }
}

@media (max-width: 768px) {
    .partners {
        &__slider {
            height: auto;
            max-height: 170px;
            padding-bottom: 40px;
            margin-left: 0;
            margin-right: 0;
        }
        &__img {
            height: 120px;

            &:last-child {
                display: none;
            }
        }
        .swiper-pagination {
            display: block;
        }
        .swiper-button-next, .swiper-button-prev {
            display: none;
        }
    }
    .why {
        padding-top: 30px;
        &__content-text {
            font-size: 18px;
            line-height: 24px;
            padding-bottom: 15px;
        }
        &__img {
            display: none;
        }
        &__item {
            flex: 1 1 calc(50% - 40px);
        }
    }
    .games {
        margin-top: -132px;
        &__slider {
            padding-bottom: 40px;
        }
        &__coin--1 {
            left: 59px;
            bottom: -112px;
        }
        &__coin--2 {
            left: -5px;
            bottom: -118px;
        }
        &__coin--3 {
            left: -36px;
            bottom: -240px;
        }
        &__title {
            font-size: 20px;
            line-height: 1;

            img {
                margin-right: 15px;
            }
        }
        .swiper-pagination {
            display: block;
            bottom: 5px;
        }
    }
    .hero {
        .swiper-button-next,
        .swiper-button-prev {
            display: none;
        }
        .swiper-pagination {
            display: block;
        }
        &__item {
            padding: 140px 0;
        }
        &__img {
            bottom: auto;
            top: 207px;
        }
        &__title {
            font-size: 56px;
            line-height: 62px;
        }
        &__subtitle {
            font-size: 36px;
            line-height: 42px;
        }
        &__text {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 15px;
        }
    }
    .hero .swiper-button-prev {
        left: 10px;
    }
    .hero .swiper-button-next {
        right: 10px;
    }
}


@media (max-width: 480px) {
    .why {
        &__coin--1 {
            filter: blur(3px);
        }
        &__coin--2 {
            transform: rotate(134deg);
            right: 85px;
        }
        &__coin--3 {
            transform: rotate(143deg);
            filter: blur(3px);
            left: 10px;
            top: auto;
            bottom: 40px;
        }
        &__item {
            flex: 1 1 100%;
        }
    }
    .hero {
        &__img {
            width: 500px;
            left: -33px;
        }
    }
}